body{
    margin: 0px;
    padding: 20px 100px;
}
img{
    border: 1px solid red;
 align-items: center;

    
}
h1{
    text-align: center;
    text-decoration: underline;
    width: 100%;
    height: auto;
    margin: 0,auto;
}
p{
    text-align: justify;
    font-size: 18px;
}
.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
}
#white{
    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
}
#aqua{
    background-color: aquamarine;
    border: 2px solid gray;
    border-radius: 50%;
}
#red{
    background-color: red;
    border: 2px solid gray;
    border-radius: 50%;
}
#black{
    background-color: black;
    border: 2px solid gray;
    border-radius: 50%;
}
.buuton_color{
 text-align: right;
}